# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
target/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Excel Files #
*.xls
*.xlsx

# JSON Files #
*.json

# Content of Import Directory #
*/*/import/*
*/import/*
import/*

# Content of Export Directory #
*/*/export/*
*/export/*
export/*
